<div style="display: flex; width: 100%; justify-content: space-between;">
  <div>
    <h1>Search Articles</h1>
    <input id="search" type="text" placeholder="Search Articles" />
    <br>
  </div>
  <div>
    <%= link_to "Analytics", analytics_path %>
  </div>
</div>