<div style="background-color: lightgray; cursor: pointer;" id="<%= dom_id article %>">
  <p style="padding: 6px; border-radius: 12px;">
    <%# <strong>Article name:</strong> %>
    <%= article.article_name %>
  </p>

</div>
